<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Music Wall
                <small>Brought to you by Johnny Labs</small>
            </h1>
        </div>
    </div>


    <!-- Projects Row -->
    <% @songs.each do |song| %>
    <div class="row">
        <div class="col-md-6 portfolio-item">
            <h3>
                <a href="/songs/<%= song.id %>"><%= song.title %></a>
            </h3>

            <p><%= song.url %></p>
            <p>by <%= song.author %></p>
            <p>Created at: <%= song.created_at %>
                <% if song.user_id %>
                    by user id: <%= song.user_id %>
                <% end %>
            </p>
            <p>
                <form method="post", action="/songs/<%= song.id %>">
                    <input type="submit", value="Like" /> 
                </form>
            </p>

            <p>
                <%= song.likes.count %> Likes
            </p>
            <hr/>
        </div>
    </div>
    <% end %>
    <!-- /.row -->

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->